* {
    margin: 0px;
    padding: 0px;
}

body {}

.container {
    border-radius: 10px;
    width: 100%;
}

header {
    height: 50px;
    width: 100%;
}

.contenido {
    height: 1000px;
    width: 100%;
}

.Emenu-movil {
    position: fixed;
    top: 0;
    max-width: 500px;
    width: 30%;
}

#Emenu {
    top: 0;
    max-width: 500px;
    width: 20%;
}

#tabla-carrito {
    width: 50%;
}

#producto-carrito {
    display: inline-flex;
    height: 50%;
    width: 50%;
}

#fecha-nose-carrito {}

.p-carrito {
    display: inline;
}

.list-unstyled {
    color: darkgoldenrod !important;
}

#piesito {
    margin-left: 30px;
}
#footer {
    background-color: green;
}

/* Carrito unico para el header deslizante */
.img-fluid{ 
    max-width: 30%; 
    height: auto;
}

#bg-carrito {
    background: linear-gradient(180deg, #BE9DDF 0%, rgba(247, 119, 185, 0) 50.52%, #BE9DDF 100%);
    border-radius: 30px;
    position: relative;
}

.piePag{
    padding: 10px;
    padding-top: 10%;
}