.text-white{
text-decoration: none;
}

#copyright{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.fondoFaq{
    background-color: #c4f1f9;
    font-family: 'Rubik', sans-serif;
}

.colorLetra{
    color: #133240;
    font-family: sans-serif;
    font-weight: 400px;
}

.img-fluid{ 
    max-width: 30%; 
    height: auto;
}

#bg-faq {
    position: relative;
    /* profundidad->sobre todo, relaitve->para que no se pierda*/
    z-index: 10;
    background: linear-gradient(180deg, #7EB8DA 0%, rgba(255, 254, 255, 0) 50.52%, #7EB8DA 100%);
    padding-bottom: 100px;
    padding: 20px;
    border-radius: 40px;
    width: 97%;
}

.piePag{
    padding: 10px;
    padding-top: 10%;
}
