.bordeGEN {
    padding: 12px;
    border-radius: 40px;
    background-color: #FFA5D8;
    border: 1px solid #133240;
    height: max-content;
}

.alLadin{
    display: inline-block;
}

.colorLetra{
    color: 133240;
    font-family: sans-serif;
    font-weight: 400;
    src: "https://fonts.google.com/specimen/Rubik#standard-styles";
}

.img-fluid{ 
    max-width: 30%; 
    height: auto;
}

#bg-carrito {
    background: linear-gradient(180deg, #7EB8DA 0%, rgba(247, 119, 185, 0) 50.52%, #7EB8DA 100%);
    border-radius: 30px;
    position: relative;
}

.piePag{
    padding: 10px;
    padding-top: 10%;
}