* {
    margin: 0px;
    padding: 0px;
}

#divTortas {
    width: 50%;
}

.container {
    border-radius: 10px;
}

<<<<<<< HEAD

/* header {
=======
header {
>>>>>>> main
    height: 50px;
    width: 100%;
    background-color: orange;
}

.contenido {
    background-color: red;
    height: 1000px;
    width: 50%;
}

<<<<<<< HEAD
.imagenTorta {
    width: 50%;
}

=======
>>>>>>> main
.Emenu-movil {
    position: fixed;
    top: 0;
    max-width: 500px;
    width: 30%;
}

#Emenu {
    top: 0;
    max-width: 500px;
    width: 20%;
}

#bg-carrito {
    background: linear-gradient(180deg, #BE9DDF 0%, rgba(247, 119, 185, 0) 50.52%, #BE9DDF 100%);
    border-radius: 30px;
    position: relative;
}

#tabla-carrito {
    width: 50%;
}

#producto-carrito {
    display: inline-flex;
    height: 50%;
    width: 50%;
}

.p-carrito {
    display: inline;
}

.list-unstyled {
    color: darkgoldenrod !important;
}

#piesito {
    margin-left: 30px;
<<<<<<< HEAD
=======
}
#footer {
    background-color: green;
}

/* Carrito */
.img-fluid{ 
    max-width: 30%; 
    height: auto;
>>>>>>> main
}