* {
    margin: 0px;
    padding: 0px;
}

body {}

.container {
    border-radius: 10px;
    background-color: aqua;
    width: 100%;
}

header {
    height: 50px;
    width: 100%;
    background-color: orange;
}

.contenido {
    background-color: red;
    height: 1000px;
    width: 100%;
}

footer {
    background-color: green;
}

/* Carrito */
.img-fluid{ 
    max-width: 30%; 
    height: auto;
}