.bordeGEN {
    padding: 12px;
    border-radius: 40px;
    background-color: #FFA5D8;
    border: 1px solid #133240;
    height: max-content;
}

.colorLetra{
    color: 133240;
    font-family: sans-serif;
    font-weight: 400;
}

.imagenPlus {
    display: flex;
    justify-content: space-between;
}
.imagenPlus .acordionPlus {
    transform: rotate(45deg);
}

.imagenPlus .acordionPlus {
    transition: transform .2s ease;
}
.accordion-block .acordionActivo {
    max-height: 500px;
}

.accordion-block .acordionContenido {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease;
}
* {
    margin: 0px;
    padding: 0px;
}

body {}

.container {
    border-radius: 10px;
    background-color: aqua;
    width: 100%;
}

/* header {
    height: 50px;
    width: 100%;
    background-color: orange;
} */

.contenido {
    background-color: red;
    height: 1000px;
    width: 100%;
}

<<<<<<< HEAD
img {
    width: 50%;
}

.Emenu-movil {
    position: fixed;
    top: 0;
    max-width: 500px;
    width: 30%;
}

#Emenu {
    top: 0;
    max-width: 500px;
    width: 20%;
}

#bg-carrito {
    background: linear-gradient(180deg, #BE9DDF 0%, rgba(247, 119, 185, 0) 50.52%, #BE9DDF 100%);
    border-radius: 30px;
    position: relative;
}

#carrito-icono {}

#emenu {}

#tabla-carrito {
    width: 50%;
}

#producto-carrito {
    display: inline-flex;
    height: 50%;
    width: 50%;
}

#fecha-nose-carrito {}

.p-carrito {
    display: inline;
}

<<<<<<< HEAD

=======
.list-unstyled {
    color: darkgoldenrod !important;
}

#piesito {
    margin-left: 30px;
=======
footer {
    background-color: green;
>>>>>>> df1bf7754707bcdfb386ee454e129c77e655a4e9
}
>>>>>>> main
