@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Tangerine&display=swap');

/* bloques de vista */
.cajaTitulo{
    margin-top:1%;
    text-align: center;
    display: block;
    position: relative;
    margin-bottom: 5%;
}
.botonComprar{
    position: left; 
    top: 1%; 
    width: 100%; 
    text-align: center;
    font-family: 'Raleway', sans-serif; 
    font-size:calc(12px + 1.5vw); 
    border-bottom: 5%;
}

/* separaciones */

.separacionBottom{
    border-bottom: 1px solid black;
    margin-bottom: 1px;
}

/* para la imagen */
tarjetaImagen{
    max-width: 5%;
}
/* pautas generales */
.paginaCarrito{
    padding: 1%
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container-fluid {
    background-color: #eff1f4;
}

.titulos{
    font-family: 'Tangerine', cursive;
    text-align: center;    
    font-size:calc(12px + 8vw);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    /* estos dos ban juntos sí o sí */
    display: flex;
    justify-content: center;
    
}

.subTitulos{
    font-family: 'Tangerine', cursive;
    text-align: center;    
    font-size:calc(12px + 3vw);
    margin-top: 0;
    margin-left: 75px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    display: flex;
}

.subtitulos2{

    font-family: 'Tangerine', cursive;
    text-align: center;    
    font-size:calc(2px + 3vw);
    display: flex;
    justify-content: center;
}

.parrafos{
    font-family: 'Raleway', sans-serif;
    text-align: center; 
    font-size:calc(7px + 1vw);
    display: flex;
    justify-content: center;
}

.parrafosT{
    font-family: 'Raleway', sans-serif;
    text-align: center; 
    font-size:calc(7px + 1vw);
    display: flex;
    justify-content: center;
    padding-left: 12px;
}
