@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Tangerine&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* sacar todos lo style {} y ponerlo en css */
.container-fluid {
    background-color: #eff1f4;
}

.contenedorIcono{
    margin: 0px auto;
    height: 10px;
}

.titulos{
    font-family: 'Tangerine', cursive;
    text-align: center;    
    font-size:calc(12px + 8vw);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    display: flex;
    
}

.subTitulos{
    font-family: 'Tangerine', cursive;
    text-align: center;    
    font-size:calc(12px + 3vw);
    margin-top: 0;
    margin-left: 75px;
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 1.2;
    display: flex;
}
.parrafos{
    font-family: 'Raleway', sans-serif;
    font-size: 4vh;
}

#img-logo-bottom{
    width: 40%;
    display: block;
}

.Post{
    position: relative;
    vertical-align: 150px;
}


.mapita{ 
    border-radius: 5px;
    align-content: center;
}
/* #uno{
    position: relative;
    background-image: url("../img/top.png");
    background-attachment: fixed;
    background-clip: inherit;
    height: 100px;
    width: 95%;
} */

/* #dos{
    margin: 60px auto;
    height: 50px;
    width: 500px;
    text-align: center;
} */

/* #tres{
    margin-left: 5%;
    height: 520px;
    width: 1030px;
    display: inline-block;
    vertical-align: top;
} */

.tres-1{
    height: 500px;
    width: 700px;
    display: inline-block;
    vertical-align: top;
    
    
}

.tres-2{
    margin-left: 20px;
    height: 400px;
    width: 300px;
    text-align: center;
    display: inline-block;
}


#cinco{
    margin: 100px auto 20px;
    height: 50px;
    width: 500px;
    text-align: center;
    display: block;
    position: relative;
    margin-bottom: 10%;
}

#seis{
    height: 500px;
    width: 1030px;
    display: inline-block;
    text-align: center;
    top: 10px;
    margin-bottom: 10%;
}

.seis-1{
    padding: auto;
    height: 350px;
    width: 330px;
    text-align: center;
    vertical-align: bottom;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10%;

}

.seis-2{
    padding: 1%;
    margin-top: 10%;
    background-image: url(../img/white-simple-textured-design-background.jpg);
    height: 425px;
    width: 600px;
    text-align: left;
    border-radius: 5px solid black;
    display: inline-block
}
