body{
    background-color: blanchedalmond;
    margin: 0;
}

label{
    font-family: 'Raleway', cursive;
}
span{
    font-family: 'Raleway', cursive;
}
#containerP{
    display: flex;
    justify-content: left;
    font-family: 'Raleway', cursive;
}

#torta{
    display: flex;
    max-width: 250px;
    min-height: 150px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: 50px;
    border: 5px;
    border-color: aquamarine;
}

#Tituloeditar{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', cursive;
}
#botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.section{
    width: 100%;

}

@media (max-width:700px){
    .containerP{
    flex-direction: column !important;
    }}