@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Tangerine&display=swap');

/* .contenedorHistoria {
    background-image: url('../img/white-simple-textured-design-background.jpg');
    background-size: 100%;
    background-position: center;
} */

.adorno{
    width: calc(150px + 1vw);
    height: calc(30px + 1vw);
    display: flex;
    opacity: 0.4;
}

#titulo_historia{
    font-family: 'Tangerine';
    font-size:calc(12px + 7vw);
    display: flex;
}

#subtitulo_historia{
    font-family: 'Tangerine';
    font-size:calc(10px + 4vw);
    font-weight: 600;
    text-align: center;
}

.texto_historia {
    font-family: 'Raleway', sans-serif;
    font-size:calc(9px + 1vw);
    -webkit-text-stroke: 1px black;
    line-height: 0.8cm;
    
}

#contenedor-FAQ {
    color:black;
    background-color:white-smoke;
    padding-top: 100px;
    padding-bottom: 100px;
    border: 1px solid lightgray;
}

#imagen1c {
    object-fit: cover;
    width: 100%;
    height: calc(600px + 1vw);
}

#imagen2c {
    object-fit: cover;
    width: 100%;
    height: calc(600px + 1vw);
}

#imagen3c {
    object-fit: cover;
    width: 100%;
    height: calc(600px + 1vw);
}

