#portada{
    position: relative;
}

#titulo{
    position: absolute; 
    top: 8%; 
    width: 100%; 
    text-align: center; 
    margin-bottom: 1px; 
    background-color: rgba(0, 0, 0, 0.3);
}

#tituloLetra{
    font-family: 'Tangerine', cursive; 
    font-size: calc(24px + 10vw); 
    color: black; 
    -webkit-text-stroke: 1px black; 
    margin-bottom: 0px;
}

#BotonContenedor{
    position: absolute; 
    top: 35%; 
    width: 100%; 
    text-align: center;
}
#Boton{
    font-family: 'Raleway', sans-serif; 
    font-size:calc(12px + 1.5vw); 
    margin-top: 10%;
}