@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&family=Tangerine&display=swap');

p {
    font-family: 'Raleway', sans-serif;
}

.noLink {
    text-decoration: none;
    color: white;
}

.noLink:hover {
    color: blue;
}