@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Tangerine&display=swap');

.titulo{
  font-size: calc(10px + 1vw);
}
.contenido{
  font-size: calc(6px + 1vw);
}

.colcard {
  float: left;
  width: 25%;
  padding: 0 10px;
}

@media screen and (max-width: 1100px) {
  .colcard {
  width: 25% !important;
  display: block !important;
  margin-bottom: 20px !important;
  }
} 

@media screen and (max-width: 900px) {
  .colcard {
  width: 33% !important;
  display: block !important;
  margin-bottom: 20px !important;
  }
} 

@media screen and (max-width: 600px) {
  .colcard {
  width: 50% !important;
  display: block !important;
  margin-bottom: 20px !important;
  }
} 

.imagen-torta {
  object-fit: cover;
  width: 100%;
  height: calc(300px + 1vw);
}
/*
#card-model {
  font-size: calc(12px + 1vw);
}

#contenedor-card {
  min-width: 200px;
  min-height: 300px;
} */
